<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ManutencaoUsuarios</servlet-name>
        <servlet-class>Servlet.ManutencaoUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManutencaoEventos</servlet-name>
        <servlet-class>Servlet.ManutencaoEventos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncricaoEvento</servlet-name>
        <servlet-class>Servlet.IncricaoEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAcessaAPI</servlet-name>
        <servlet-class>aaTag.ServletAcessaAPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntradaConsulta</servlet-name>
        <servlet-class>Servlet.EntradaConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetuarLogin</servlet-name>
        <servlet-class>Servlet.EfetuarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Facebook</servlet-name>
        <servlet-class>Servlet.Facebook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManutencaoUsuarios</servlet-name>
        <url-pattern>/ManutencaoUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManutencaoEventos</servlet-name>
        <url-pattern>/ManutencaoEventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncricaoEvento</servlet-name>
        <url-pattern>/IncricaoEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAcessaAPI</servlet-name>
        <url-pattern>/ServletAcessaAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntradaConsulta</servlet-name>
        <url-pattern>/EntradaConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetuarLogin</servlet-name>
        <url-pattern>/EfetuarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Facebook</servlet-name>
        <url-pattern>/Facebook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
